@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #202020;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #e3e9ff;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
	width: calc(100% - 20px);
	font-size: 2em;
	box-shadow: 0px 6px 20px #27272780;
	background: #af7eeb;
	color: white;
	z-index: 999;
	padding-left: 20px;
}

.header .app-name{
	margin-left: 10px;
	width: fit-content;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 65px);
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background: #e3e9ff;
}

.content #create-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 5%;
	padding: 20px;
	background: white;
	border-radius: 10px;
	margin-bottom: 20px;
}


.content #todo-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 5%;
	padding: 0 20px;
	background: white;
	border-radius: 10px 10px 0 0;
	/* border-bottom: 2px solid #e3e9ff; */
}

.content #todo-list {
	width: 80%;
	height: 65%;
	padding: 0 20px 20px 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
	border-radius: 0 0 10px 10px ;
}

/* Custom tags */
create-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

todo-filter {
	width: 100%;
}

header-component {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

counter-waiting {
	margin-left: 20px;
	height: 100%;
}

/* Стили для scrollbar */
::-webkit-scrollbar {
	width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 20px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
	background: rgb(190, 190, 190);
	border-radius: 20px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
	background: #888; 
 }

 /* END */