.wrapper {
	/* height: 300px;
	width: 350px; */
	min-height: 250px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 20px;
	background: #af7eeb;
	color: white;
}

.wrapper h1 {
	margin-bottom: 0;
	text-align: center;
}

.login-form {
	height: calc(100% - 80px); 
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputBox {
	/*width: 100%;*/
	margin: 10px 0 0 0;
}

.inputBox input {
	width: calc(100% - 20px);
	padding: 5px 10px;
	line-height: 20px;
	outline: none;
	border: none;
	border-radius: .25rem;
	background: #dcbfff;
	color: #4e2084;
	font-size: 1rem;
	font-weight: 400;
}

.inputBox input:focus {
	background: #e8d5ff;
}

.login-form button[type=submit] {
	width: 100px;
	outline: none;
	border: 3px solid transparent;
	border-radius: .25rem;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1;
	background: #dcbfff;
	color: #4e2084;
	margin-top: 30px;
	cursor: pointer;
	transition: 0.3s;
}

.login-form button[type=submit]:hover {
	background: #e8d5ff;
}

.login-form button[type=submit]:focus {
	border: 3px solid #a362ef;
}